<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>    
    <p>
      Hello <%= @section.instructor.name %>,
    </p>
    <p>
      We have begun finalizing the schedule for our PSIA-West education & certification events for next season, and would love to confirm your availability to work the event below.
    </p>
    <div class='row'>
      <h4><strong>Event Info</strong></h4>

      <ul>
          <li><%= @section.event.name %> </li>
          <li>Location:<%= @section.event.location.name %> </li>
          <li>Date: <%= @section.event.date.strftime("%A %b #{@section.event.date.day.ordinalize}, %Y") %></li>
      </ul>
      <p>
        To review this event and either confirm or cancel, simply visit: <%= link_to review_events_url, review_events_url %>.
      </p>
    </div>
  </body>
</html>
