<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Instructor Status: Now Active</h1>
    <p>Hi <%=@instructor.first_name %>,</p>
    <p>
      Congratulations, your instructor status with Snow Schoolers has been marked active. Please review the information below and let us know if anything does not appear to be accurate.
    </p>
    <ul>
      <li>Instructor Type: <%= @instructor.sports.first %></li>
      <%if @instructor.ski_levels.any? %>
        <li><%= @instructor.ski_levels.max.value %></li>
          <%else%>
          <li>N/A</li>
        <%end%>
        <%if @instructor.snowboard_levels.any? %>
        <li><%= @instructor.snowboard_levels.max.value %></li>
          <%else%>
          <li>N/A</li>
        <%end%>
    </ul>

    <p>
      To edit your profile (bio, photo, etc.) you may do so by visiting <%= lesson_url(@instructor) %>
    </p>
  </body>
</html>
