<div class="container">

<%if current_user && current_user.user_type == "Ski Area Partner" || (current_user.email == "brian@snowschoolers.com") %>

<%= form_tag import_instructors_path, multipart: true do %>
<h2>
  <%= file_field_tag :file, class: 'form-control' %> <%= submit_tag "Import Instructors from CSV", class: 'btn btn-default' %>
<% end %> | 
  <%= link_to "Export CSV", instructors_path(format: "csv"), class: 'btn btn-primary' %> |  <%= link_to 'Delete all Staff', delete_all_instructors_path, method: :delete_all, data: { confirm: 'Are you sure?' },  class: 'btn btn-danger' %>
</h2>


<div class="col-md-6">
    <h4>Total Staff count: <%= Instructor.count %> </h4>
    <h4>Ski Examiners: <%= Instructor.joins(:sports).where(sports: {name:"Skiing"}).count %> </h4>
    <h4>Snowboard Examiners: <%= Instructor.joins(:sports).where(sports: {name:"Snowboarding"}).count %> </h4>
    <h4>Telemark Examiners: <%= Instructor.joins(:sports).where(sports: {name:"Telemarking"}).count %> </h4>
    <h4>Nordic Examiners: <%= Instructor.joins(:sports).where(sports: {name:"Nordic"}).count %> </h4>
    <h4>Adaptive Examiners: <%= Instructor.joins(:sports).where(sports: {name:"Adaptive"}).count %> </h4>
</div>
<% if current_user.location %>
<div class="col-md-6">
<!--     <h4>Lifetime Lessons: %= Location.find(current_user.location).lifetime_lessons.count %> </h4>
    <h4>Gross Lifetime Revenue: %= number_to_currency(Location.find(current_user.location).lifetime_revenue) %> </h4>
    <h4>Post-commission Lifetime Revenue: %= number_to_currency(Location.find(current_user.location).lifetime_revenue*0.88) %> </h4>
    <h4>Lessons Today: %= Location.find(current_user.location).today_lessons.count %> </h4>
    <h4>Revenue Today: %= number_to_currency(Location.find(current_user.location).today_revenue) %> </h4>
 --></div>
<%end%>
<%end%>

<table class="instructors-table">
  <thead>
    <tr>
<!--       <th>First</th>
      <th>Last</th> -->
      <!-- <th>ID</th> -->
      <th>ID</th>
      <th></th>
      <th>Name <br> Email</th>
      <th>Admin Actions</th>
      <th>Status?</th>
      <th>Discipline(s)</th>
      <th>City</th>
      <th>Home resort</th>
      <th colpsan="2">Eligible locations</th>
      <th></th>
      <th>Skiing Cert</th>
      <th>Snowboard Cert</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td class="center"><%= instructor.id %>
          <br>
          <%= link_to 'Edit', edit_instructor_path(instructor), class: 'btn btn-default' %> 
        </td>
        <td> <%= link_to image_tag(instructor.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive img-thumbnail avatar-thumbnail"), edit_instructor_path(instructor) %> </td>
        <td><%= link_to "#{instructor.name}", show_candidate_instructor_path(instructor) %> <br>        
           <%= instructor.contact_email %> </td>
        <% if instructor.status != "Active" %>
        <td><%= link_to 'Activate', verify_instructor_path(instructor), method: :post, class: 'btn btn-success' %></td>
          <% else %>
        <td><%= link_to 'Revoke', revoke_instructor_path(instructor), method: :post, class: 'btn btn-danger' %></td>
        <% end %>
        <td><%= instructor.status %></td>
        <% if instructor.sport_ids.count > 0 %>
          <td><% instructor.sport_ids.each do |sport_id| %>
            <span><%= Sport.find(sport_id).name %></span> <br>
            <% end %> 
          </td>
          <% else %>
          <td></td>
        <% end %>
        <td><%= instructor.city %></td>
        <% if instructor.primary_location_ids.count > 0 %>
        <td><%= Location.find(instructor.primary_location_ids.first).name %> </td>
        <% else %>
        <td></td>
        <% end %>

        <td colspan="2">
          <% instructor.locations.each do|location| %> 
            <%= location.name %> <br>
          <% end %>
        </td>
        
        <%if instructor.ski_levels.any? %>
        <td><%= instructor.ski_levels.max.name %></td>
          <%else%>
          <td>N/A</td>
        <%end%>
        <%if instructor.snowboard_levels.any? %>
        <td><%= instructor.snowboard_levels.max.name %></td>
          <%else%>
          <td>N/A</td>
        <%end%>
        <td><%= instructor.performance_ranking %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
