<div class="profile-container">
  <% if current_user && current_user.instructor %>
    <div class="row col-md-12">
      <h3 class="text-warning">Instructor status: <%= @instructor.status %> </h3>
      <p class="text-warning">Questions? Email info@snowschoolers.com.</p>
      <%= link_to 'Edit Your Profile', edit_instructor_path(@instructor), class: 'btn btn-default' %>
    </div>
  <% end %>
<div class="row">
<div class="col-md-6 instructor-core-info">

<p>
  <strong>Contact Email:</strong>
  <% if @instructor.user %>
      <%= @instructor.user.email %>
    <% else %>
      <%= @instructor.contact_email %>
  <% end %>
</p>
<div class="col-lg-12 col-sm-12 square-image">
    <%= image_tag @instructor.avatar.url(:large), alt:"avatar-img", class:"img-responsive img-circle instructor-photo avatar-left" %>
  </div>
<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>
<p>
  <strong>City:</strong>
  <%= @instructor.city %>
</p>

<p>
  <strong>Certifications:</strong>
  <br>
  Skiing:
  <%if @instructor.ski_levels.any? %>
   <%= @instructor.ski_levels.max.name %>
  <%else%>
    N/A
  <%end%>
  <br>
  Snowboarding:
  <%if @instructor.snowboard_levels.any? %>
    <%= @instructor.snowboard_levels.max.name %>
  <%else%>
    N/A
  <%end%>      
</p>

<p>
  <strong>Performance Rating:</strong>
  <%= @instructor.performance_ranking %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @instructor.phone_number %>
</p>

<%= render partial: "instructor_disciplines" %>

<p>
  <strong>Home Resort:</strong>
  <ul>
    <% @instructor.primary_locations.each do |location| %>
    <li> <%= location.name %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Eligible Resorts:</strong>
  <ul>
    <% @instructor.locations.each do |location| %>
    <li> <%= location.name %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Status:</strong>
  <%= @instructor.status %>
</p>

<% if current_user && current_user.email == 'brian@snowschoolers.com' %>
<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Verify Instructor', edit_user_registration_path(@instructor.user), class: 'btn btn-success' %> |
<% end %>
<%= link_to 'Back', instructors_path %>
<div class="buffer"></div>


</div>

<div class="col-md-6">
  <% @instructor.sections.each do |section| %>

  <div class="col-md-12 event-card">
  <h2 class="center"><%= link_to section.event.name, section.event %> - <%= section.event.date.strftime("%m/%d") %> @<%= link_to section.event.location.name, section.event.location %> 
    </h2>
  <ul class="event-summary">
    <li>Event ID: <%=section.event.id%></li>
    <li>Type: <%=section.event.category %> - <%=section.event.sport.name %>, level <%=section.event.staff_level %></li>
    <li>Scheduling status: <%=section.instructor_status %></li>
  </ul>
  <% if section.instructor_status == "Confirmed"%>
      <%= form_tag(cancel_instructor_path, :method => "put", class: "in-line") do %>
      <div class="hidden">              
        <%= text_field_tag :section_id, params[:section_id], value: section.id %>
      </div>
        <%= submit_tag "CANCEL", class:"btn btn-danger" %>
      <% end %>
    <% else %>
      <%= form_tag(confirm_instructor_path, :method => "put", class: "in-line") do %>
      <div class="hidden">              
        <%= text_field_tag :section_id, params[:section_id], value: section.id %>
      </div>
        <%= submit_tag "CONFIRM", class:"btn btn-success" %>
      <% end %>
  <% end %>
  </div>

  <% end %>
</div>

</div>
</div>

