<div class="container">

<%= semantic_form_for @section do |f| %>
  <%= f.inputs do %>
      <%= f.select :instructor_id, options_from_collection_for_select(@section.event.available_instructors, :id, :name, selected:@section.instructor_id), {include_blank:"Select an Instructor"}, {class: 'form-control form-group', required:false}  %>

    <%= f.input :instructor_status, as: :select, collection: ['Unassigned','Assigned','Confirmed'], include_blank: 'Staff Status', label: false %>    
    <%= f.input :capacity, label:"Max capacity" %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
</div>