<p id="notice"><%= notice %></p>

<p>
  <strong>Event Name:</strong>
  <%= @section.event.name %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @section.instructor ? @section.instructor : "TBD" %>
</p>

<p>
  <strong>Status:</strong>
  <%= @section.instructor_status %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @section.sport.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @section.capacity %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
