<p id="notice"><%= notice %></p>
<div class="container">

<%if current_user && current_user.user_type == "Ski Area Partner" || (current_user.email == "brian@snowschoolers.com") %>

<%= form_tag import_events_path, multipart: true do %>
<h2>
  <%= file_field_tag :file, class: 'form-control' %> <%= submit_tag "Import events from CSV", class: 'btn btn-default' %>
<% end %> | 
  <%= link_to "Export CSV", events_path(format: "csv"), class: 'btn btn-primary' %> |  <%= link_to 'Delete all Events', delete_all_events_path, method: :delete_all, data: { confirm: 'Are you sure?' },  class: 'btn btn-danger' %>
</h2>
<hr class="deposit-hr-navy">

<% end %>


<h1 class="center">Scheduled PSIA - W events</h1>

<h4 class="center">
  <%= link_to 'New event', new_event_path, class: 'btn btn-success' %>
</h4>

<div class="calendar-container hidden">
  <%= month_calendar(events: @events) do |date, events| %>
    <% if events.count > 0 %>
    <div class="day-within-week">
      <div class="daily-summary">
        <h2 class="">Participants: <%= Lesson.bookings_for_date(date) %></h2>
        <h2 class="">Ed staff scheduled: <%= events.count { |event| event.status == "Scheduled"} %></h2>
        <h2 class="">Ed staff available: <%= events.count { |event| event.status == "TBD"} %></h2>
        <h2 class=" <%= Event.capacity_status_color(date) %>">Remaining Capacity: <%= Event.capacity(date) %></h2>
        <h2><a href="/schedule-filtered?utf8=✓&search_date=<%=Event.parametized_date(date)%>" class="btn btn-default">Schedule Staff</a></h2>
      </div>
      <% else %>
      <h4 class="center text-warning">No events currently scheduled</h4>
    <% end %>
    <% events.sort_by{| event | event.status }.to_a.each do | event | %>
      <div class="<%= event.event_status_color %> instructor-event">
        <%= link_to event.name, edit_event_path(event) %> - <span class="smaller-text"><%= event.status %></span>
      </div>
    <% end %>
    </div>
  <% end %>

</div>

<hr>

<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>Category</th>
      <th>Sport</th>
      <th>Location</th>
      <th>Capacity</th>
      <th>Eligible Instructors</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <% if event.start_time %>
        <td><%= event.start_time.strftime("%m/%d") %></td>
        <!-- <td><%= event.start_time.strftime("%m/%d @%l%P") %></td> -->
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        <td><%= event.name %></td>
        <td><%= event.category %></td>
        <td><%= event.sport.name %></td>
        <td><%= event.location ? event.location.name : "TBD" %></td>
        <td><%= event.capacity %></td>
        <!-- <td><%= event.sections.count %></td> -->
        <td>
          <% if event.available_instructors.any? %>
            <% event.available_instructors.each do |instructor| %>
                  <%= instructor.name %> - <%= instructor.list_sports %> <br>
            <% end %>
          <% end %>
        </td>
        <td><%= event.status %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% event.sections.each_with_index do |section, index| %>
      <tr>
        <td></td>
        <td></td>
        <td> Staff# <%= (index+1) %></td>
        <td> Name: <%= section.instructor ? section.instructor.name : "TBD" %></td>
        <td> Capacity: <%= section.capacity %></td>
        <td> Status: <%= section.instructor_status %></td>
        <td></td>
      </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

</div>