<p id="notice"><%= notice %></p>

<h1 class="center">Scheduled PSIA - W events</h1>

<h4 class="center">
  <%= link_to 'New event', new_event_path, class: 'btn btn-success' %>
</h4>

<div class="calendar-container">
  <%= week_calendar(events: @events) do |date, events| %>
    <% if events.count > 0 %>
    <div class="day-within-week">
      <div class="daily-summary">
        <h2 class="">Participants: <%= Lesson.bookings_for_date(date) %></h2>
        <h2 class="">Ed staff scheduled: <%= events.count { |event| event.status == "Scheduled"} %></h2>
        <h2 class="">Ed staff available: <%= events.count { |event| event.status == "TBD"} %></h2>
        <h2 class=" <%= Event.capacity_status_color(date) %>">Remaining Capacity: <%= Event.capacity(date) %></h2>
        <h2><a href="/schedule-filtered?utf8=✓&search_date=<%=Event.parametized_date(date)%>" class="btn btn-default">Schedule Staff</a></h2>
      </div>
      <% else %>
      <h4 class="center text-warning">No events currently scheduled</h4>
    <% end %>
    <% events.sort_by{| event | event.status }.to_a.each do | event | %>
      <div class="<%= event.event_status_color %> instructor-event">
        <%= link_to event.instructor.name, edit_event_path(event) %> - <span class="smaller-text"><%= event.status %></span>
      </div>
    <% end %>
    </div>
  <% end %>

</div>

<hr>

<table class="hidden">
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Name</th>
      <th>Status</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.start_time.strftime("%m/%d") %></td>
        <td><%= event.end_time.strftime("%m/%d") %></td>
        <td><%= event.name %></td>
        <td><%= event.status %></td>
        <td><%= event.instructor.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

