<div class="container">

<%if current_user && current_user.user_type == "Ski Area Partner" || (current_user.email == "brian@snowschoolers.com") %>
<div class="admin-viewable">
  <%= form_tag import_events_path, multipart: true do %>
  <h2>
    <%= file_field_tag :file, class: 'form-control' %> <%= submit_tag "Import from CSV", class: 'btn btn-succss' %>
  <% end %> | 
    <%= link_to "Export CSV", events_path(format: "csv"), class: 'btn btn-default' %> |  <%= link_to 'Delete All', delete_all_events_path, method: :delete_all, data: { confirm: 'Are you sure?' },  class: 'btn btn-danger' %> |   <%= link_to 'New event', new_event_path, class: 'btn btn-success' %>
    | <%= link_to "Auto-Assign", assign_all_events_path, class: 'btn btn-success' %>
    | <%= link_to "Unassign All", unassign_all_events_path, class: 'btn btn-warning' %>
    | <%= link_to "Email All Staff", email_all_staff_path, class: 'btn btn-warning' %>

  </h2>
</div>
<% end %>

<h1 class="center">PSIA West - Scheduled Events</h1>

<div class="calendar-container hidden">
  <%= month_calendar(events: @events) do |date, events| %>
    <% if events.count > 0 %>
    <div class="day-within-week">
      <div class="daily-summary">
        <h2 class="">Participants: <%= Lesson.bookings_for_date(date) %></h2>
        <h2 class="">Ed staff scheduled: <%= events.count { |event| event.status == "Scheduled"} %></h2>
        <h2 class="">Ed staff available: <%= events.count { |event| event.status == "TBD"} %></h2>
        <h2 class=" <%= Event.capacity_status_color(date) %>">Remaining Capacity: <%= Event.capacity(date) %></h2>
        <h2><a href="/schedule-filtered?utf8=✓&search_date=<%=Event.parametized_date(date)%>" class="btn btn-default">Schedule Staff</a></h2>
      </div>
      <% else %>
      <h4 class="center text-warning">No events currently scheduled</h4>
    <% end %>
    <% events.sort_by{| event | event.status }.to_a.each do | event | %>
      <div class="<%= event.event_status_color %> instructor-event">
        <%= link_to event.name, edit_event_path(event) %> - <span class="smaller-text"><%= event.status %></span>
      </div>
    <% end %>
    </div>
  <% end %>

</div>

<hr class="deposit-hr-navy">

<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>Event Type</th>
      <th>Level</th>
      <th>Sport</th>
      <th>Location</th>
      <th>Capacity</th>
      <th>Available Staff</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr class="bold-row">
        <td><%= event.id %></td>
        <% if event.start_time %>
        <td><%= event.date.strftime("%m/%d") %></td>
        <!-- <td><%= event.start_time.strftime("%m/%d") %></td> -->
        <!-- <td><%= event.start_time.strftime("%m/%d @%l%P") %></td> -->
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        <td><%= link_to event.name, event %></td>
        <td><%= event.category %></td>
        <td><%= event.staff_level %></td>
        <td><%= event.sport.name %></td>
        <td><%= event.location ? event.location.name : "TBD" %></td>
        <td><%= event.capacity %></td>
        <!-- <td><%= event.sections.count %></td> -->
        <td colspan="2">
          <% if event.available_instructors.any? %>
            <ol>
            <% event.available_instructors.each do |instructor| %>
                 <li> <%= instructor.name %> - <%= instructor.performance_ranking %> </li>
            <% end %>
            </ol>
          <% end %>
        </td>
        <!-- <td><%= link_to 'Edit', edit_event_path(event) %></td> -->
        <td></td>
        <!-- <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
        <% event.sections.order(:id).each_with_index do |section, index| %>
      <tr>
        <td colspan="2"> Staff# <%= (index+1) %></td>
        <td colspan="1"> <%= section.instructor ? section.instructor.name : "TBD" %></td>
        <td colspan="2"> Status: <%= section.instructor_status %></td>        
        <!-- <td> Index: <%= index %></td>         -->
        <!-- <td><%= link_to "Edit", edit_section_path(section.id), class: 'btn btn-default' %> </td> -->
        <% if current_user && current_user.email == "brian@snowschoolers.com" %>
        <% if section.instructor_id.to_i == 0 %>
            <td colspan="2">
              <% recommended_instructor = section.event.available_instructors[index] ? section.event.available_instructors[index].id : section.event.available_instructors[0] %>
              <% if recommended_instructor.nil? %>
                <h3 class="text-warning center">Warning - no staff available!</h3>
                </td>
              <% else%> 
                <%= form_tag(assign_instructor_to_section_path, :method => "put") do %>
                <%= select_tag :instructor_id, options_from_collection_for_select(section.event.available_instructors, :id, :name, selected:recommended_instructor), class: 'form-control form-group' %>
                <div class="hidden">              
                  <%= text_field_tag :section_id, params[:section_id], value: section.id %>
                </div>
                <td>
                      <%= submit_tag "ASSIGN", class:"btn btn-default" %>
                    <% end %>
                </td>
            <% end %>
        <% else %>
        <td>
            <%= form_tag(unassign_instructor_from_section_path, :method => "put") do %>
            <div class="hidden">              
              <%= text_field_tag :section_id, params[:section_id], value: section.id %>
            </div>
        </td>
        <td>
              <%= submit_tag "UNASSIGN", class:"btn btn-warning" %>
            <% end %>
        </td>
        <td> <%= link_to "Email Staff", email_event_request_to_staff_section_path(section), class: 'btn btn-default' %> </td>

        <% end %>
          <% else %>
          <td></td>
          <td></td>
        <% end %>
        <% if section.instructor_id.to_i > 0 && current_user.email == "brian@snowschoolers.com" || section.instructor && section.instructor.contact_email == current_user.email %>
          <% if section.instructor_status == "Confirmed"%>
            <td>
              <%= form_tag(cancel_instructor_path, :method => "put") do %>
              <div class="hidden">              
                <%= text_field_tag :section_id, params[:section_id], value: section.id %>
              </div>
                <%= submit_tag "CANCEL", class:"btn btn-danger" %>
              <% end %>
            </td>
            <% else %>
            <td>
              <%= form_tag(confirm_instructor_path, :method => "put") do %>
              <div class="hidden">              
                <%= text_field_tag :section_id, params[:section_id], value: section.id %>
              </div>
                <%= submit_tag "CONFIRM", class:"btn btn-success" %>
              <% end %>
            </td>
            <td></td>
            <td></td>
          <% end %>
        <% else %>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
      </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

</div>