<p id="notice"><%= notice %></p>
<div class="container">

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>
<p>
  <strong>Staff Level:</strong>
  <%= @event.staff_level %>
</p>
<p>
  <strong>Location:</strong>
  <%= @event.location.name %>
</p>

<p>
  <strong>Available Instructors:</strong>
  <ul>
    <% @event.available_instructors.each do |instructor| %>
    <li><%= instructor.name %> - <%= instructor.performance_ranking %> - <%= instructor.list_sports %> </li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Assigned Instructors:</strong>
  <ul>
    <% @event.sections.each_with_index do |section, index| %>
      <li> Staff#<%= (index+1) %>
      <%= section.instructor ? section.instructor.name : "TBD" %>; 
      Status: <%= section.instructor_status %>;
      <%= link_to "Edit", edit_section_path(section.id), class: 'btn btn-default' %>
      </li>
      <li><%= @event.date.to_s %></li>
      <li><%= "#{@event.date.to_s.gsub(/-/,'')}T190000Z/#{@event.date.to_s.gsub(/-/,'')}T240000Z" %></li>
      <% event = {text:@event.name, date:"#{@event.date.to_s.gsub(/-/,'')}/#{@event.date.to_s.gsub(/-/,'')}", location:@event.location.address, description:"This is a #{@event.category} event and requires a minimum level #{@event.staff_level} status." } %>
      <li>
        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%=event[:text]%>&dates=<%=event[:date]%>&details=<%=event[:description] %>&location=<%=event[:location] %>&sf=true&output=xml" class="btn btn-default" target="_blank"> Add to Calendar: <%=event[:text] %></a>
<!--         <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%=event[:text]%>&dates=20140127T224000Z/20140320T221500Z&details=For+details,+link+here:+http://www.example.com&location=Waldorf+Astoria,+301+Park+Ave+,+New+York,+NY+10022&sf=true&output=xml" class="btn btn-default" target="_blank"> Add to Calendar: test</a>
        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%=event[:text]%>&dates=20170601T160000Z/20170601T230000Z&details=For+details,+link+here:+http://www.example.com&location=Waldorf+Astoria,+301+Park+Ave+,+New+York,+NY+10022&sf=true&output=xml" class="btn btn-default" target="_blank"> Add to Calendar: test2</a> -->
      </li>

  <% end %>
  </ul>
</p>


<p>
  <strong>Discipline:</strong>
  <%= @event.sport.name %>
</p>
<p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime("%m/%d @%l%P") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.strftime("%m/%d @%l%P") %>
</p>


<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Sections:</strong>
  <%= @event.sections.count %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>